<launch>
	<!-- robot tf pub through urdf by robot_description-->
	<arg name="model" default="$(find s1_description)/urdf/myrobot2.urdf"/>
	<param name="robot_description" textfile="$(arg model)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<!-- start python serial node -->
	<arg name="port" default="/dev/ttyUSB0"/>
	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="$(arg port)" />

	<!-- sub robot speed and pub odom -->
	<node name="subSpeedpubOdom" pkg="s1_base_controller" type="subSpeedpubOdom" />
</launch>
